* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container-fullwidth {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #1b1b1b;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #2e2e2e;
}

.container {
    display: flex;
    height: 100%;
    width: 1200px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pulsante-ricerca-film,
#pulsante-ricerca-serie {
    height: 35px;
    width: 150px;
    margin: 10px;
    padding: 3px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    background-color: #be120f;
    box-shadow: 0 5px #2e2e2e;
}

#pulsante-ricerca-film:hover,
#pulsante-ricerca-serie:hover {
    background-color: #8a0806;
}

#pulsante-ricerca-film:active,
#pulsante-ricerca-serie:active {
    background-color: #8a0806;
    box-shadow: 0 3px #262626;
    transform: translateY(2px);
}

#barra-ricerca {
    box-shadow: 1px 1px 1px 1px #8a0806;
    background-color: white;
    color: black;
    border: none;
    padding: 5px;
    padding-left: 10px;
}

#logo-boolflix {
    height: 100px;
    cursor: pointer;
}

.container-film,
.container-serie {
    display: flex;
    width: 1600px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 100px auto 0;
    color: white;
    height: 100%;
    padding: 10px;
    align-items: center;
}

.card-film,
.card-serie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 300px;
    padding: 10px;
    text-align: center;
}

#titolo-film,
#titolo-serie {
    font-size: 16px;
    margin-bottom: 25px
}

#titoloOriginale-film,
#lingua-film,
#titoloOriginale-serie,
#lingua-serie {
    font-size: 12px;
}

#voto-film,
#voto-serie {
    font-size: 10px;
    margin-top: 15px;
}

#stelline {
    font-size: 14px;
    transform: translateY(-1px);
}

#bandieraLingua {
    width: 32px;
}

#lingua-film {
    margin-top: 10px;
}
